body {
  font-family: Helvetica;
  width: 1280px;
  background-color: #8A9A5B;
  height: 960;
  padding: 30px;
  margin: 50px auto;
  text-align: center;
}

img {
  width: 1080px;
  height: 670px;
}

h1 {
  font-style: italic ;
  font-size: 72px;
}

h3 {
  font-size: 48px;
}

section {
  margin: 30px;
}

h2 {
  background-color: #FEFCD7;
  font-size: 28px;
  border-radius: 100px;
  border-bottom: double 5px black;
  padding: 5px
}

p {
  margin-top: 8px;
  background-color: #FEFCD7;
  border-radius: 10px;
  padding: 10px;
}